<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <h2>GPS Data</h2>
            <hr>
            <h4>Sats Count</h4>
            <p>0</p>
            <h4>Latitude</h4>
            <p>0</p>
            <h4>Longitude</h4>
            <p>0</p>
        </div>
    </div>
</body>
</html>